.creditCard{
    padding-bottom: 5rem;
}

.creditCard-box_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.creditCard-box_cards-slide {
    max-width: 35rem;
}